input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

#app
  margin: 10px 50px
  
  .variable-sliders
    display: table
    width: 100%
    
    .variable-slider
      display: table-row
      
      .slider-label, .slider-value, .slider
        display: table-cell
        margin: 5px 20px
        vertical-align: middle
      
      .slider-label
        text-align: right
      
      .slider-value
        max-width: 40px
        text-align: center
      
      .slider
        min-width: 500px
  
  .charts
    @clearfix()
    
    .chart
      float: left
